<!-- 
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">Engineering Branches Project</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/branches', 'ECE']">ECE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/branches', 'CSE']">CSE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/branches', 'EEE']">EEE</a>
    </li>
  </ul>
</nav> -->
<router-outlet></router-outlet>
